<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load tz %}
{% block content %}

{% if user.is_authenticated %}
    
<div class="container-fluid">
    <div class="row" style="margin-top:20px;margin-bottom:20px;padding-top:10px;">
        <div class="col-md-12 pt-5">
            <h3 class="mt-5 text-center">Waiting for more news..</h3>
        </div>
</div>

<script>
    setTimeout(function(){
        window.location.href = "{% url 'content:news-monitor' %}";
    }, 10000);
</script>

{% else %}
<div class="row">
    <div class="col-6">
        <div class="alert alert-danger" role="alert">
            You do not have access to this project
        </div>
    </div>
</div>    
{% endif %}


{% endblock content %}