<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    </style>
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/all.min.css" rel="stylesheet" />
    <link href="assets/css/fontawesome.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/default.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />

    <title>Hello, world!</title>
</head>

<body>


    <div class="header_area">
        <div class="header_bg" data-background="assets/img/wewewew.png">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </div>


    <div class="text-area">
        <div class="text-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text">
                            <h2>DeFi’s Biggest Hack<br> Yet – Ronin Bridge<br> Exploited for Over<br> $600 Million in ETH<br> and USDC</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-txt">
                            <a class="btn" href="#">ETHEREUM</a> 
                            <a class="btn" href="#">USDCOIN</a>
                        </div>
                        
                        <div class="footer">
                         <p>Tuesday, March 29, 2022 - 12:12 UTC</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript; choose one of the two! -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
